.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    position:absolute;
    background: 0 0;
    top:0;
    left:0;
    right:0;
}

.header-main {
    padding: 0rem 4rem;
    height: 80px;
}

.header-left-section {
    justify-content: flex-start;
    flex-grow: 1;
}

.logo-name {
    color: white;
    font-family: "Arial Narrow", Arial, sans-serif;
}
.header-buttons {
    font-size:20px;
    font-weight: 500;
    color:white;
    background:0 0;
    border: none;
    cursor: pointer;
}