<div class="header-container" style="background-color: black;">
    <nav class="header-main display-flex ">
        <div class="header-left-section display-flex ">
            <div class="icon-camera">
                <div class="logo-name">Clixcel</div>
            </div>
        </div>
    
        <div class="header-right-section display-flex ">
                <div class="m-r-40 header-buttons">Explore</div>
                <div class="m-r-40 header-buttons">License</div>
                <div class="m-r-40 header-buttons">Upload</div>
                <div class="m-r-40 header-buttons pd-b-15 pd-rl-15">...</div>
                <button>JOIN</button>
        </div>
    </nav>
</div>